

html {
    overscroll-behavior-y: none;
}

body{
    font-size: 1em;
    line-height: 1.6em;
    font-family:'Times New Roman', Times, serif;
    /* color: black; */
    color: beige;

    padding: 0;
    margin: 0 0 0px 0;

    /* background-image: linear-gradient(to right, beige, rgb(217, 244, 193)); */
    background-color: rgba(47,46,52,255);
    background-size: cover;
}

/* NAVBAR */
#navBar{
    position: absolute;
    width: 100%;
    height: 100px;
    
    z-index: 5;

    background-size: 20% 100%;
    background-image: url(Images/TopNav-01.png);

    text-align: center;
    font-size: 1.1em;
    li{
        margin: 0 12vw;
        display: inline;
    }
    ul { padding: 0; }
}


.current{
    background-color: #3b200d;
    padding: 15% 10px 0px 10px;
    border: solid #1f1107 3px;
    border-radius: 20px;
}

/* LINKS */
.link a{
    color: beige;
    text-decoration: none;
}
.link a:hover{
    color: green;
}
.link a:active{
    color: black;
}

/* HEADER */
#mainHeader{
    background-image: url(Images/Header-01.png);
    background-size: 100% 90%;
    background-repeat: no-repeat;

    width: 100%;
    position: relative;
    padding: 150px 0 150px 0;
    z-index: 3;
    
    div{
        color: beige;
        font-size: 4em;
        padding: 0 2% 0 10%;
        line-height: 1em;
    }
}


/* GENERAL */
.general {
    position: relative;
    width: 100%;
    display: inline;
}

/* MIT */
#MIT{


    border: solid #183219 5px;
    border-radius: 15px;
    background-color: #255128;
    color: beige;
    position: relative;
    
    float:left;
    width: 90%;
    margin: -10px 5% 20px 5%;
    z-index: 3;
    div{
        font-size: 2em;
        margin: 2% 0 0 0;
        padding: 0 10px;
        line-height: 1.2em;
        letter-spacing: 1px;
        
    }
    ul{
        margin: 15px;
        width: 60%;
        float: right;
        font-size: 1.3em;
    }
    img{
        margin: 0;
        height: 10em;
        float: left;
    }
}
/* ABOUT ME */
#aboutMe {
    margin: 0px 0 10px 40px;
    float: left;
    width: 60%;
    box-sizing: border-box;
    font-size: 1.2em;

}
#aboutMeTitle {

    position: relative;
    z-index: 1;
    /* background-color: #67c8c8; */
    background-image: linear-gradient(to bottom , rgb(69, 198, 151), rgb(67, 143, 190));
    /* padding: 0 0 0 0; */
    top: -200px;
    padding: 400px 0 0 25%;

    border-bottom: #3b200d solid 10px;
    border-radius: 20px;
    margin-bottom: -200px;    
}
#aboutMeTitle div{
    
    color: beige;
    font-size: 1.2em;

    border: #3b200d 5px solid;
    background-color: #357541;

    padding: 15px;
    width: fit-content;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;


}

/* VR */
#VR{
    max-width: 400px;
    position: relative;
    border: solid #3b200d 5px;
    border-radius: 15px;
    background-color: #347743;
    color: beige;
    
    float:right;
    width: 30%;
    box-sizing: border-box;
    margin: -75px 3% 10px auto;
    padding: 0;
    z-index: 2;
    h1{
        font-size: 1.6em;
        margin: 0 0 0 0;
        text-align: center;
    }
    h2{
        font-size: 1em;
        text-align: center;

    }
    img{
        width: 60%;
        border: rgb(3, 21, 5) solid 5px;
        border-radius: 10px;

        margin: 15px 18%;
    }
}

/* CSI */
#CSI {
    display:inline;
    border: #122412 solid 5px;
    background-color: #1c3a1d;
    border-radius: 15px;
    position: relative;
    box-sizing: border-box;
    margin: 60px 20px 20px 0;
    color: beige;

    float: right;
    width: 40%;
    padding: 0;

    img{
        float: left;
        width: 100px;
        margin: 20px;
        border: solid #122412 5px;
        border-radius: 10px;
    }
    h1{
        font-size: 1.6em;
        margin-top: 30px;

    }
    h2{
        font-size: 1em;
        padding: 10px;
    }
}
/* APR */
#APR {
    border: #3b200d solid 5px;
    border-radius: 20px;
    background-color: #347743;

    display: inline;
    float: left;
    position: relative;

    width: 50%;
    padding: 0;

    color: beige;
    margin: 40px 0 20px 20px;
    box-sizing: border-box;

    img{
        float: right;
        width: 150px;
        margin: 20px 0 10px 10px;
    }
    h1{
        font-size: 1.6em;
        text-align: right;
        margin: 35px 0 0 0;
    }
    h2{
        font-size: 1em;
        text-align: right;
        padding: 10px;

    }
}
/* FOOTER */
.footer {
    padding: 10px 0;
    margin-top: 30px;

    width: 100%;
    
    /* max-height: 100px; */
    background-color: #152e17;
    color: beige;


    border-top: solid #082406 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    float: left;
    text-align: center;
    bottom: 0;
    z-index: 10;

    h1, h2{

        font-size: 1.2em;
        display: inline;
        padding: 0 10% 0 0;
    }
    h2{
        padding: 0 0 0 10%;
    
    }

}



.flip {
    transform: scaleX(-1);
    div {
        transform: scaleX(-1);
        text-align: right;
        margin: 0 0 0 15%;
    }
}


#projectsS {
    background-color: #2a5c34;
    color: beige;

    width: 50%;
    max-width: 800px;
    box-sizing: border-box;

    margin: 0 0 10px 5%;
    padding: 15px 0;

    border: #12351a solid 5px;
    border-radius: 15px;

    text-align: center;
    float: left;

    /* max-height: 100%; */
    max-height: 7em;
    overflow: hidden;


    h1 { font-size: 1.6em; display: inline; }
    img {
        float: right;
        width: 25px;
        padding: 2px;
        margin: 0 5px;
        background-color: rgba(42, 130, 160, 0.6);
        border: #0c2d14 solid 2px;
        border-radius: 15px;
    }
    img:hover { background-color: rgba(57, 166, 202, 0.87) }
    img:active {
        margin-top: 2px;
        background-color: #33dfdd;
    }
    table {
        width: 100%;
        font-size: 1em;
        border-collapse: collapse;
    }
    td { width: 50%; padding: 5px;}
    tr {border-bottom: 1.5px solid #13451d; }
    th { padding: 10px 0; font-size: 1.2em;}
    tr:hover {background-color: rgba(255, 255, 255, 0.15);}



    hr { border: solid #12351a 2px; border-radius: 5px; margin-top: 20px;}

}


#projectsA {
    background-color: #422714;
    float: right;
    width: 30%;
    position: relative;
    margin: 30px 5% 0 0;
    padding: 10px;
    border: #2c1a0d solid 5px;
    border-radius: 50px;
    h1 {
        color: beige;
        font-size: 1.3em;
        text-align: center;
    }
}

#projectsT {
    width: 100%;
    margin: 175px 0 15px 0;
    border: 5px solid #3b200d;
    background-image: linear-gradient(to right , rgb(21, 82, 60), rgb(13, 55, 83));

    img {
        height: 200px;
        border: #1f1107 2px solid;
        border-radius: 15px;
        margin: 5px;
        max-width: 90%;
    }
    #imgX {                                                                            
        position: absolute;
        width: 30px;
        height: 30px;
        top: 15px;
        right: 15px;
        border: #092911 3px solid;
        border-radius: 50%;
        background-color: rgba(42, 130, 160, 0.6);
    }
    #imgX:hover {
        background-color: rgba(122, 178, 197, 0.6);
    }
    #imgX:active {
        background-color: rgba(129, 158, 167, 0.6);
    
    }
    h1 {
        background-color: #042106;
        padding: 25px 40px;
        box-sizing: border-box;
        color: #2b9b41;
        width: 100%;
        margin: 0 0 0 0;
    }
    h2 {
        padding: 10px;
        /* background-color: rgb(67, 143, 190); */
        background-image: linear-gradient(to bottom , rgb(77, 127, 158), rgb(67, 143, 190));

        flex: 1;
        margin: 0px 0 10px 0;
        border: #301a0a 2px solid;
    }
    h3 {
        margin: 10px 15px;
    }
    .hiddenSub {
        display: flex;
    }
}

.projectsD {
    width: 20%;

    float: left;
    box-sizing: border-box;
    border: 3px solid rgba(44, 24, 11, 0.9);
    background-size: cover;
    background-repeat: no-repeat;
}
.inside {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 25vw;

    padding: 50px 0 0 0;
    transition: background-color 0.75s ease-in;


}
.projectsD:hover {

    .inside {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .show {
        opacity: 1;
    }
}

.show {
    /* position:relative; */
    /* width: 25%; */
    color: beige;
    font-size: 2em;
    margin: 0 10px 0 10px;

    text-align: center;
    opacity: 0;

    transition: opacity 0.75s ease-out;

}
.hidden {
    background-color: #2a5c34;
    border: #301a0a solid 5px;
    border-radius: 10px;

    position: absolute;
    margin: 80px 7.5% auto 7.5%;
    padding: 0px 0;
    width: 85%;
    box-sizing: border-box;
    display: none;
    opacity: 0;
    z-index: 10;

    li {
        text-align: left;
        margin: 10px;
    }
    
}

#weld {
    background-position: center center;
    background-image: url(Images/Projects/f.jpg);
}
#steve {
    background-position: center center;
    background-image: url(Images/Projects/Steve1.jpg);
}
#ping {
    background-position: 80% center;
    background-image: url(Images/Projects/Table1.jpg);
}
#bow {
    background-position: 50% center;
    background-image: url(Images/Projects/Bow1.jpg);
}
#paola {
    background-position: 15% center;
    background-image: url(Images/Projects/Paola1.jpg);
}
#ricky {
    background-position: right center;
    background-image: url(Images/Projects/Ricky1.jpg);
}
#pot {
    background-position: right center;
    background-image: url(Images/Projects/Pot1.jpg);
}
#assembly {
    background-position: -80px center;
    background-image: url(Images/Projects/Assembly1.jpg);
}
#turbine {
    background-position: -10px center;
    background-image: url(Images/Projects/Turbine2.jpg);
}
#domino {
    background-position: 60% center;
    background-image: url(Images/Projects/Domino1.jpg);
}
#six {
    /* background-position: 60% center; */
    background-image: url(Images/Projects/61911.png);
}
#maslab {
    background-image: url(Images/Projects/Maslab1.jpg);
}
#formlabs {
    background-image: url(Images/Projects/Formlabs1.jpg);
}
#rock {
    background-position: 80% center;
    background-image: url(Images/Projects/Rock1.jpg);

}
#micro {
    background-position: 80% center;
    background-image: url(Images/Projects/6115_1.jpg);
}
#glove {
    background-position: 80% center;
    background-image: url(Images/Projects/glove1.jpg);
}
#game {
    background-position: 70% center;
    background-image: url(Images/Projects/game2.jpg); 
}
#piano {
    /* background-position: center ; */
    background-image: url(Images/Projects/Piano1.png); 
}
#cover {
    position:fixed;
    top: 0;
    margin: 0;
    z-index: 6;
    width: 100%;
    height: 100%;

    pointer-events: none;
    opacity: 0;

    background-color: black;
    /* z-index: 1000; */
}



#generalE {
    .footer {margin: -10px 0 0 0;    }
}
#work, #research{
    
    background-color: #432916;
    color: beige;
    padding: 25px 10%;
    border-top: #29190d 5px solid;
    border-bottom: #29190d solid 5px;
    margin: 0;
    margin-top: 50px;
}
#research { text-align: left; }
#work { text-align: right; }


.experienceR, .experienceW {
    color: beige;
    background-color: rgb(50, 97, 50);
    border-bottom: 5px solid #29190d;
    border-top: 2px solid #29190d;



    h2 {
        background-color: #1b2b4f;

        width: fit-content;
        padding: 15px;
        border: #0d092c double 5px;
        border-radius: 30px;
    }
    hr {
        border: #29190d solid 2px;
        border-radius: 5px;
        width: 100%;
    }
}
.experienceW {
    text-align: right;
    padding: 15px 10px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 20px;

    margin-left: auto;
    margin-right: 0;
    margin-bottom: 60px;
    width: 70%;
    border-left: 5px solid #29190d;

    h3, p{
        margin: 0;
        padding: 10px 30px 0 15%;
    }
    h2 {
        margin: 0 0 0 auto;
    }


    a:visited {color:beige;text-decoration: none;}
    a {color: beige; text-decoration: none;}
    a:hover {color: #225830;}
    a:active {color: #092911;}
    p {
        a:visited {color:beige;}
        a {color: beige; text-decoration: none;}
        a:hover {color: #0b0929;}
        a:active {color: #223258}
    }
}
#dhub {
    min-height: 300px
}
.experienceR {
    margin-left: 0;
    margin-right: auto;
    width: 70%;
    border-right: 5px solid #29190d;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 20px;


    text-align: left;
    padding: 15px 10px 40px 10px;
    margin-bottom: 50px;
    h3, p{
        margin: 0;
        padding: 10px 15% 0 30px;
    }
    h2 { margin: 0 auto 0 0; }
}

#resume {

    float: left;
    bottom: 100px;


    background-color: #422714;
    padding: 15px 40px;
    border: #2c1a0d double 5px;
    border-radius: 40px;
    margin: -100px 0px 0px 5%;

    a:visited {color:beige;}
    a {color: beige; text-decoration: none;}
    a:hover {color: #092911;}
    a:active {color: #225830}
}
#htdar {
    height: 30vh;
    min-height: 200px;
    max-height: 400px;
    float: left;
    margin: 40px 10px 0px 7%;
    border: 3px black solid;
    border-radius: 10px;
}
#rh {
    height: 30vh;
    min-height: 100px;
    max-height: 150px;
    float: left;
    margin: 40px 10px 10px 3%;
    border: 3px black solid;
    border-radius: 10px;
}

#cicata {
    width: 30vw;
    min-width: 200px;
    max-width: 400px;
    float: right;
    margin: 40px 10px 10px 10px;
}
#contact {
    float: left;
    margin: 50px 0px 10px;
    padding: 5px 20px;
    box-sizing: border-box;
    background-color: #422714;
    width: 100%;
    border-top: 5px solid #2c1a0d;
    border-bottom: 5px solid #2c1a0d;
    border-radius: 10px;
    text-align: center;
    h2 {
        margin: 10px 100px;
        display: inline-block;

    }
    h3 {
        font-size: x-large;
        display: inline-block;
        margin: 10px 100px;
    }
}

@media(max-width: 875px) {
    #aboutMeTitle {
        padding-top: 500px;

    }
    #navBar li {
        margin: 0 8vw;
    }
    .projectsD {
        width: 25%;

    }
    .inside {
        height: 33.33vw;
    }
    .footer h1{
        font-size: 0.9em;
        padding: 10px 5% 0 0;
    }
    .footer h2{
        font-size: 0.9em;
        padding: 10px 5% 0 0;
    }
    #micro {
        .show {
            font-size:1.4em;
        }
    }
    #game {
        .show {
            font-size:1.5em;
        }
    }

}
@media(max-width: 500px) {
    #aboutMeTitle {
        padding-top: 650px;
    }
    

}
@media (min-width: 1400px){
    #MIT {
        width: 80%;
        margin: 0 10% 10px 10%;
    }
    #APR {
        width: 700px;
        margin: 40px 0 10px 5%;
    }
}
@media(max-width: 600px) {
    #navBar li{
        font-size: 0.9em;
        margin: 0 7vw;
    }

    #mainHeader {
        padding: 125px 0;
    }
    #mainHeader div {
        font-size: 3em;
    }

    #MIT div{
        font-size: 1.6em;
        padding: 10px 20px;
    }
    #MIT img {
        padding: 0 20%;
        margin: 0;
    }
    #MIT ul {
        font-size: 1.2em;
        padding: 0;
        margin: 0 10px 10px 0;
        width: 70%;
    }

    #aboutMeTitle {
        padding-top: 560px;
    }
    #aboutMe {
        width: 90%;
        margin: 0 5%;
        font-size: 1em;

    }


    #VR {
        float: none;
        width: 80%;
        margin: 350px auto 10px 10%;
        padding: 10px;
    }
    
    #CSI {
        float: none;
        width: 80%;
        margin: 30px 10%;
        display: block;
    }
    #CSI img {
        margin: 10px;
        width: 80px;
    }
    #CSI h1{
        margin: 10px;
        font-size: 1.5em;
    }
    #CSI h2{
        margin: 10px;
    }

    #APR {
        display: block;
        float: none;
        width: 80%;
        margin: 40px 10% 20px;
    }
    #APR img{
        width: 125px;
        margin: 10px 0 0;
    }
    #APR h1{
        margin: 30px 5px 20px;
    }

    .footer h1 {
        font-size: 0.8em;
        padding: 10px 5% 0 0;
    }
    .footer h2{
        font-size: 0.8em;
        padding: 10px 0 0 5%;

    }

    .projectsD {
        width: 33.333%;
    }
    .inside {
        height: 40svw;
    }
    .show {
        font-size: 1.5em;
    }
    #projectsT {
        margin-top: 350px;
    }

    #projectsS {
        width: 90%;
    }
    #projectsA {
        width: 70%;
        margin: 20px 50px;
    }
    /* #projectsT {
        
    } */
    #resume {
        margin: -30px 0px 0px 5%;
    }
}
