body{
    font-size: 1em;
    line-height: 1.6em;
    font-family:'Times New Roman', Times, serif;
    color: black;

    padding: 0;
    margin: 0;

    background-color: #bec49a;

}

#navBar{
    position: absolute;
    width: 100%;
    height: 100px;
    
    z-index: 5;

    background-size: 20% 100%;
    background-image: url(Images/TopNav.png);

    text-align: center;
    font-size: 1.1em;

}
#navBar li{
    margin: 0 7vw;
    display: inline;
}
#navBar ul{
    padding: 0;

}
.current{
    background-color: #614028;
    padding: 15% 10px 0px 10px;
    border: solid black 3px;
    border-radius: 20px;
}


.link a{
    color: white;
    text-decoration: none;
}
.link a:hover{
    color: green;
}
.link a:active{
    color: black;
}

#mainHeader{
    background-image: url(Images/Header.png);
    background-size: 100% 90%;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    padding: 150px 0 150px 0;
    z-index: 3;
    
}
#mainHeader div{
    color: white;
    font-size: 4em;
    padding: 0 2% 0 10%;
    line-height: 1em;
}

.general {
    position: relative;
    width: 100%;
    display: inline;
}

#MIT{


    border: solid #614028 5px;
    border-radius: 15px;
    background-color: #202e15;
    color: white;
    position: relative;
    
    float:left;
    width: 90%;
    margin: 0 5% 10px 5%;
    z-index: 3;
}
#MIT div{
    font-size: 2em;
    margin: 2% 0 0 0;
    padding: 0 10px;
    line-height: 1.2em;
    letter-spacing: 1px;
    
}
#MIT ul{
    margin: 15px;
    width: 60%;
    float: right;
    font-size: 1.3em;
}
#MIT img{
    margin: 0;
    height: 10em;
    float: left;
}

#aboutMe {
    margin: 0px 0 10px 40px;
    float: left;
    width: 60%;
    box-sizing: border-box;
    font-size: 1.2em;

}

#aboutMeTitle {

    position: relative;
    z-index: 1;
    background-color: rgba(173, 216, 230, 0.6);
    /* padding: 0 0 0 0; */
    top: -200px;
    padding: 400px 0 0 25%;

    border-bottom: #614028 solid 10px;
    border-radius: 20px;
    margin-bottom: -200px;    
}
#aboutMeTitle div{
    
    color: white;
    font-size: 1.4em;

    border: #614028 5px solid;
    background-color: #809c52;

    padding: 15px;
    width: fit-content;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;


}


#VR{
    max-width: 400px;
    position: relative;
    border: solid #614028 5px;
    border-radius: 15px;
    background-color: #809c52;
    color: white;
    
    float:right;
    width: 30%;
    box-sizing: border-box;
    margin: -75px 3% 10px auto;
    padding: 0;
    z-index: 2;
}
#VR h1{
    font-size: 1.6em;
    margin: 0 0 0 0;
    text-align: center;
}
#VR h2{
    font-size: 1em;
    text-align: center;

}
#VR img{
    width: 60%;
    border: black solid 5px;
    border-radius: 10px;

    margin: 15px 18%;


}


#CSI {
    display:inline;
    border: #614028 solid 5px;
    background-color: #202e15;
    border-radius: 15px;
    position: relative;
    box-sizing: border-box;
    margin: 60px 20px 20px 0;
    color: white;

    float: right;
    width: 40%;
    padding: 0;


}
#CSI img{
    float: left;
    width: 100px;
    margin: 20px;
    border: solid #614028 5px;
    border-radius: 10px;
}
#CSI h1{
    font-size: 1.6em;
    margin-top: 30px;

}
#CSI h2{
    font-size: 1em;
    padding: 10px;
}

#APR {


    border: #614028 solid 5px;
    border-radius: 20px;
    background-color: #809c52;
    margin: 20px;

    display: inline;
    float: left;
    position: relative;

    width: 50%;
    padding: 0;
    color: white;
    margin: 40px 0 20px 20px;
    box-sizing: border-box;



}
#APR img{
    float: right;
    width: 150px;
    margin: 20px 0 10px 10px;
}
#APR h1{
    font-size: 1.6em;
    text-align: right;
    margin: 35px 0 0 0;
}
#APR h2{
    font-size: 1em;
    text-align: right;
    padding: 10px;

}

.footer {
    position:relative;
    /* top: 1000px; */
    margin: 0;
    padding: 0;
    width: 100%;
    /* bottom: -400pt; */
    height: min-content;
    
    background-color: #202e15;
    display: block;
}

.footer {
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 20px;

    border-top: solid #614028 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.footer h1{
    font: x-large;
    color: white;
    margin: 0;
    padding: 10px;
    text-align: center;
}

@media(max-width: 875px) {
    #aboutMeTitle {
        padding-top: 500px;

    }
}
@media(max-width: 500px) {
    #aboutMeTitle {
        padding-top: 650px;
    }
}
@media (min-width: 1400px){
    #MIT {
        width: 80%;
        margin: 0 10% 10px 10%;
    }
    #APR {
        width: 700px;
        margin: 40px 0 10px 5%;
    }
}
@media(max-width: 600px) {
    #navBar li{
        font-size: 0.8em;
        margin: 0 5vw;
    }

    #mainHeader {
        padding: 125px 0;
    }
    #mainHeader div {
        font-size: 3em;
    }

    #MIT div{
        font-size: 1.6em;
        padding: 10px 20px;
    }
    #MIT img {
        padding: 0 20%;
        margin: 0;
    }
    #MIT ul {
        font-size: 1.2em;
        padding: 0;
        margin: 0 10px 10px 0;
        width: 70%;
    }

    #aboutMeTitle {
        padding-top: 560px;
    }
    #aboutMe {
        width: 90%;
        margin: 0 5%;
        font-size: 1em;

    }


    #VR {
        float: none;
        width: 80%;
        margin: 350px auto 10px 10%;
        padding: 10px;
    }
    
    #CSI {
        float: none;
        width: 80%;
        margin: 30px 10%;
        display: block;
    }
    #CSI img {
        margin: 10px;
        width: 80px;
    }
    #CSI h1{
        margin: 10px;
        font-size: 1.5em;
    }
    #CSI h2{
        margin: 10px;
    }

    #APR {
        display: block;
        float: none;
        width: 80%;
        margin: 40px 10% 20px;
    }
    #APR img{
        width: 125px;
        margin: 10px 0 0;
    }
    #APR h1{
        margin: 30px 5px 20px;
    }
}
