body{
    font-size: 1em;
    line-height: 1.6em;
    font-family:'Times New Roman', Times, serif;
    color: black;

    padding: 0;
    margin: 0;

    background-color: #bec49a;

}

/* NAVBAR */
#navBar{
    position: absolute;
    width: 100%;
    height: 100px;
    
    z-index: 5;

    background-size: 20% 100%;
    background-image: url(Images/TopNav.png);

    text-align: center;
    font-size: 1.1em;
    li{
        margin: 0 7vw;
        display: inline;
    }
    ul { padding: 0; }
}


.current{
    background-color: #614028;
    padding: 15% 10px 0px 10px;
    border: solid black 3px;
    border-radius: 20px;
}

/* LINKS */
.link a{
    color: white;
    text-decoration: none;
}
.link a:hover{
    color: green;
}
.link a:active{
    color: black;
}

/* HEADER */
#mainHeader{
    background-image: url(Images/Header.png);
    background-size: 100% 90%;
    background-repeat: no-repeat;

    width: 100%;
    position: relative;
    padding: 150px 0 150px 0;
    z-index: 3;
    
    div{
        color: white;
        font-size: 4em;
        padding: 0 2% 0 10%;
        line-height: 1em;
    }
}


/* GENERAL */
.general {
    position: relative;
    width: 100%;
    display: inline;
}

/* MIT */
#MIT{


    border: solid #614028 5px;
    border-radius: 15px;
    background-color: #202e15;
    color: white;
    position: relative;
    
    float:left;
    width: 90%;
    margin: -10px 5% 20px 5%;
    z-index: 3;
    div{
        font-size: 2em;
        margin: 2% 0 0 0;
        padding: 0 10px;
        line-height: 1.2em;
        letter-spacing: 1px;
        
    }
    ul{
        margin: 15px;
        width: 60%;
        float: right;
        font-size: 1.3em;
    }
    img{
        margin: 0;
        height: 10em;
        float: left;
    }
}
/* ABOUT ME */
#aboutMe {
    margin: 0px 0 10px 40px;
    float: left;
    width: 60%;
    box-sizing: border-box;
    font-size: 1.2em;

}
#aboutMeTitle {

    position: relative;
    z-index: 1;
    background-color: rgba(173, 216, 230, 0.6);
    /* padding: 0 0 0 0; */
    top: -200px;
    padding: 400px 0 0 25%;

    border-bottom: #614028 solid 10px;
    border-radius: 20px;
    margin-bottom: -200px;    
}
#aboutMeTitle div{
    
    color: white;
    font-size: 1.4em;

    border: #614028 5px solid;
    background-color: #809c52;

    padding: 15px;
    width: fit-content;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;


}

/* VR */
#VR{
    max-width: 400px;
    position: relative;
    border: solid #614028 5px;
    border-radius: 15px;
    background-color: #809c52;
    color: white;
    
    float:right;
    width: 30%;
    box-sizing: border-box;
    margin: -75px 3% 10px auto;
    padding: 0;
    z-index: 2;
    h1{
        font-size: 1.6em;
        margin: 0 0 0 0;
        text-align: center;
    }
    h2{
        font-size: 1em;
        text-align: center;

    }
    img{
        width: 60%;
        border: black solid 5px;
        border-radius: 10px;

        margin: 15px 18%;
    }
}

/* CSI */
#CSI {
    display:inline;
    border: #614028 solid 5px;
    background-color: #202e15;
    border-radius: 15px;
    position: relative;
    box-sizing: border-box;
    margin: 60px 20px 20px 0;
    color: white;

    float: right;
    width: 40%;
    padding: 0;

    img{
        float: left;
        width: 100px;
        margin: 20px;
        border: solid #614028 5px;
        border-radius: 10px;
    }
    h1{
        font-size: 1.6em;
        margin-top: 30px;

    }
    h2{
        font-size: 1em;
        padding: 10px;
    }
}
/* APR */
#APR {
    border: #614028 solid 5px;
    border-radius: 20px;
    background-color: #809c52;
    margin: 20px;

    display: inline;
    float: left;
    position: relative;

    width: 50%;
    padding: 0;
    color: white;
    margin: 40px 0 20px 20px;
    box-sizing: border-box;

    img{
        float: right;
        width: 150px;
        margin: 20px 0 10px 10px;
    }
    h1{
        font-size: 1.6em;
        text-align: right;
        margin: 35px 0 0 0;
    }
    h2{
        font-size: 1em;
        text-align: right;
        padding: 10px;

    }
}
/* FOOTER */
.footer {
    margin: 0;
    padding: 10px 0;
    margin-top: 20px;

    width: 100%;
    height: min-content;
    
    background-color: #202e15;
    color: white;
    text-align: center;

    float: left;

    border-top: solid #614028 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    h1, h2{
        font-size: 1.2em;
        display: inline;
        padding: 10px 10% 0 0;
    }
    h2{
        padding: 10px 0 0 10%;
    
    }
}

.flip {
    transform: scaleX(-1);
    div {
        transform: scaleX(-1);
        text-align: right;
        margin: 0 0 0 15%;
    }
}


#projectsS {
    background-color: #202e15;
    color: white;

    width: 50%;
    max-width: 800px;
    box-sizing: border-box;

    margin: 0 0 10px 5%;
    padding: 15px;

    border: #614028 solid 5px;
    border-radius: 15px;

    text-align: center;
    float: left;
    position: relative;

    h1 { font-size: 1.6em; display: inline; }
    img {
        float: right;
        width: 25px;
        padding: 2px;
        background-color: rgba(173, 216, 230, 0.6);
        border: #614028 solid 2px;
        border-radius: 15px;
    }
    img:hover { background-color: rgba(181, 209, 218, 0.87) }
    img:active {
        margin-top: 2px;
        background-color: #614028;
    }
    ul {
        overflow: hidden;
        text-align: left;
        font-size: 1em;
        columns: 2;
        column-gap: 10%;
    }
    div { display: inherit;}
    hr { border: solid #614028 2px; border-radius: 5px; margin-top: 10px;}

}


#projectsA {
    background-color: #809c52;
    float: right;
    width: 30%;
    position: relative;
    margin: 30px 5% 0 0;
    padding: 10px;
    border: #614028 solid 5px;
    border-radius: 50px;
    h1 {
        color: white;
        font-size: 1.2em;
        text-align: center;
    }
}

#projectsT {
    width: 100%;
    margin: 175px 0 100px 0;

    border: 5px solid #614028;
    background-color: gray;

}

.projectsD {
    width: 20%;

    float: left;
    box-sizing: border-box;
    border: 3px solid rgba(173, 216, 230, 0.9);

    background-size: cover;
    background-repeat: no-repeat;
}
.inside {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 25vw;

    padding: 50px 0 0 0;
    transition: background-color 0.75s ease-in;


}
.projectsD:hover {

    .inside {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .show {
        opacity: 1;
    }
}

.show {
    /* position:relative; */
    /* width: 25%; */
    color: white;
    font-size: 2em;
    margin: 0 10px 0 10px;

    text-align: center;
    opacity: 0;

    transition: opacity 0.75s ease-out;

}
.hidden {
    background-color: #809c52;
    border: #614028 solid 5px;
    border-radius: 15px;

    position: absolute;
    margin: 80px 7.5% auto 7.5%;
    padding: 10px;
    width: 85%;
    box-sizing: border-box;
    display: none;
    opacity: 0;
    z-index: 10;

    
}
.imgX {                                                                            
    position: absolute;
    width: 30px;
    top: 15px;
    right: 15px;
    border: #614028 3px solid;
    border-radius: 50%;
    background-color: rgba(181, 209, 218, 1);
}
.imgX:hover {
    background-color: rgba(173, 216, 230, 0.8);
}
.imgX:active {
    background-color: rgba(173, 216, 230, 0.6);

}
#weld {
    background-position: center center;
    background-image: url(Images/Projects/f.jpg);
}
#steve {
    background-position: center center;
    background-image: url(Images/Projects/Steve1.jpg);
}
#ping {
    background-position: 80% center;
    background-image: url(Images/Projects/Table1.jpg);
}
#bow {
    background-position: 50% center;
    background-image: url(Images/Projects/Bow1.jpg);
}
#paola {
    background-position: 15% center;
    background-image: url(Images/Projects/Paola1.jpg);
}
#ricky {
    background-position: right center;
    background-image: url(Images/Projects/Ricky1.jpg);
}
#pot {
    background-position: right center;
    background-image: url(Images/Projects/Pot1.jpg);
}

#cover {
    position:fixed;
    top: 0;
    margin: 0;
    z-index: 6;
    width: 100%;
    height: 100%;

    pointer-events: none;
    opacity: 0;

    background-color: black;
    /* z-index: 1000; */
}


@media(max-width: 875px) {
    #aboutMeTitle {
        padding-top: 500px;

    }
    .projectsD {
        width: 25%;

    }
    .inside {
        height: 33.33vw;
    }
}
@media(max-width: 500px) {
    #aboutMeTitle {
        padding-top: 650px;
    }

}
@media (min-width: 1400px){
    #MIT {
        width: 80%;
        margin: 0 10% 10px 10%;
    }
    #APR {
        width: 700px;
        margin: 40px 0 10px 5%;
    }
}
@media(max-width: 600px) {
    #navBar li{
        font-size: 0.8em;
        margin: 0 5vw;
    }

    #mainHeader {
        padding: 125px 0;
    }
    #mainHeader div {
        font-size: 3em;
    }

    #MIT div{
        font-size: 1.6em;
        padding: 10px 20px;
    }
    #MIT img {
        padding: 0 20%;
        margin: 0;
    }
    #MIT ul {
        font-size: 1.2em;
        padding: 0;
        margin: 0 10px 10px 0;
        width: 70%;
    }

    #aboutMeTitle {
        padding-top: 560px;
    }
    #aboutMe {
        width: 90%;
        margin: 0 5%;
        font-size: 1em;

    }


    #VR {
        float: none;
        width: 80%;
        margin: 350px auto 10px 10%;
        padding: 10px;
    }
    
    #CSI {
        float: none;
        width: 80%;
        margin: 30px 10%;
        display: block;
    }
    #CSI img {
        margin: 10px;
        width: 80px;
    }
    #CSI h1{
        margin: 10px;
        font-size: 1.5em;
    }
    #CSI h2{
        margin: 10px;
    }

    #APR {
        display: block;
        float: none;
        width: 80%;
        margin: 40px 10% 20px;
    }
    #APR img{
        width: 125px;
        margin: 10px 0 0;
    }
    #APR h1{
        margin: 30px 5px 20px;
    }

    .footer h1 {
        font-size: 0.8em;
        padding: 10px 5% 0 0;
    }
    .footer h2{
        font-size: 0.8em;
        padding: 10px 0 0 5%;

    }

    .projectsD {
        width: 33.333%;
    }
    .inside {
        height: 40svw;
    }
    .show {
        font-size: 1.5em;
    }
    #projectsT {
        margin-top: 350px;
    }

    #projectsS {
        width: 90%;
    }
    #projectsA {
        width: 70%;
        margin: 20px 50px;
    }
}
